.App{
display: flex;
flex-direction: column;
justify-content: center;
align-content: space-around;
}

.recipeContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-content: space-around;
border-color: black;
}

.recipeCard{
display: flex;
border: 1px solid black;
flex-direction: column;
justify-content: flex-start;
align-content: space-around;
}

.button{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-content: space-around;
}

.ingredientContainer{
border: 1px solid black;
border-radius: 5px;
width: 50%;
}

.ingredientList{
display: flex;
flex-direction: column;
flex-wrap: wrap;
height:100px;
width:50%;
}

.ingredient {
flex-grow: 1;
height: 33%;
}

.recipeBody{
display: flex;
}

.chartContainer{
border: 1px solid black;
border-radius: 5px;
width: 50%;
}

.charts{
display: flex;
flex-direction: column;
// flex-wrap: wrap;
// height:100px;
}

.cardButtons {
  display:flex;
  flex-direction: row;
  justify-content:flex-end
}